* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auction-wrapper {
    width: 90%;
    margin: auto;
}

.auction-filter {

}

.auction-items {
    background-color: #454857;
    max-height: 70vh;
    overflow-y: auto;
}