.player__stats {
    /* display:grid; */
    /* outline: 2px solid rgb(156, 81, 81); */
    /* width: 100px; */
    padding: 0;
    margin: 0;
    /* justify-content: center; */


}

.player__stats li {
  display: block;
  /* background-color: blanchedalmond; */
  filter: drop-shadow(0px 0px 2px rgb(248, 246, 246));
  background-color: rgba(248, 246, 246, 0.2);
  border-radius: 10px;
  /* padding: 5px; */
  text-align: center;
}
