.buttons__block {
    display: grid;
    width: fit-content;
}

.time {
    position: relative;
    text-align: center;
    font-size: 62px;
    background: -webkit-linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}