@import url('https://fonts.googleapis.com/css?family=Acme');

* {
    font-family: 'Acme', serif;
}

.wrapper {
    padding: 2% 10%;
    height: 10%;
}
@font-face {
  font-family: 'Grek'; 
  src: local('Cleo'),
    url('./DS_Greece.ttf') format("truetype"); 
}

ul {
    list-style: none;
}

.body {
  /* font-family: var(--common-Gilroy); */
  /* font-weight: 300; */
  font-family: 'Grek'; 
  display: grid;
  min-height: 100vh;
  grid-template-areas: 'navBar' 'main' 'footer';
  grid-template-rows: auto 1fr auto;
}
.navBar{
  grid-area:navBar;
}
.main{
  
  grid-area:main;
}

.footer{
  grid-area:footer;
}
