@import url('https://fonts.googleapis.com/css?family=Acme');

* {
    font-family: 'Acme', serif;
}

.wrapper {
    /*padding: 2% 10%;*/
    height: 10%;
}

@font-face {
    font-family: 'Grek';
    src: local('Cleo'),
    url('./DS_Greece.ttf') format("truetype");
}

ul {
    list-style: none;
}

.backback {
    background: url("../__temp/back.jpg");
    background-size: cover;
    /*position: absolute;*/
    z-index: -1000;
}

.body {

    /*background: url("../__temp/back.jpg");*/
    /* font-family: var(--common-Gilroy); */
    /* font-weight: 300; */
    font-family: 'Grek';
    display: grid;
    max-height: 100vh;
    grid-template-areas: 'navBar' 'main' 'footer';
    grid-template-rows: auto 1fr auto;
}

.navBar {
    grid-area: navBar;
}

.main {

    grid-area: main;
}

.footer {
    grid-area: footer;
    /* position: sticky; */
    /* grid-row-end: ; */
    /* max-height: 30vh; */

}
