.parallax-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-parallax-header {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-parallax-header:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.header_anchor {
  //display: flex;
  //justify-content: center;
  //margin: auto;
  width: 5em;
}

.header_anchor h1 {
  opacity: .5;
  color: #454857;
  font-size: 5em;
  position: absolute;
  bottom: -1.1em;
  left: 50%;
  padding-bottom: .3em;
  border-radius: 60%;
  transition: 200ms;
}

.header_anchor h1:hover {
  cursor: none;
  opacity: .9;
  bottom: -1em;
  transition: 200ms;
  color: #FFFFdd;
}