.footer__chat {
    display: flex;
    /* justify-content: center; */
    padding: 2%;
    z-index: 3;
    height: 30vh;

    transition: 300ms;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    transition: 300ms;
    padding-left: 13%;
}

.footer__chat input {
    border: none;
    width: 20%;

    height: 3vh;
    background-color: rgb(238, 234, 182);
    box-shadow: 0 0 5px rgb(56, 52, 52);
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer__chat input::placeholder {
    padding: 3px;

    /* margin-right: 10vw; */
}

.button__close {
    display: block;
    border: none;
    /* height: ; */
    padding: 10px;
    /* background-color: royalblue; */
    transition: 300ms;
    margin: 10px;
    box-shadow: 0 0 10px rgb(143, 131, 112);
    background-color: indianred;
    border-radius: 10px;

}

.footer__buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;

}

.button__open {
    transition: 300ms;
    /* overflow-y: scroll; */

}

.footer__buttons button {
    border: none;
    padding: 5px;;
}

.footer__button_send {
    background-color: rgb(212, 231, 192);
    border-radius: 10px;
    transition: 200ms;
}

.footer__button_close {
    background-color: rgb(224, 138, 174);
    border-radius: 10px;

}

.footer__button_send:hover {
    box-shadow: 0 0 5px 5px rgb(212, 231, 192);
    transition: 200ms;
}

.footer__button_close:hover {
    transition: 200ms;
    box-shadow: 0 0 5px 5px rgb(224, 138, 174);

}

.footer__list {
    display: block;
    overflow-y: scroll;
    /* max-height: 20%; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    transition: 300ms;
}

.some__player__name {
    display: block;
    width: 40%;
    /* overflow-y: scroll; */
    /* background-color: saddlebrown; */
}

.footer__message {
    overflow-y: scroll;
    position: absolute;
    top: 5;
    left: 35%;
    box-shadow: 0 0 10px rgb(76, 88, 56);
    background-color: rgb(238, 234, 182);
    min-width: 50vw;
    border-radius: 20px;
}
