.footer__chat{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  max-height: 70%;
  overflow-y: scroll;
  /* overflow-y: scroll; */
  /* display: ; */
  align-items: flex-start;
  transition: 300ms;
  background-color: rgba(181, 191, 219, 0.527);
}

.button__close button{
  border: none;
  background-color: royalblue;
  transition: 300ms;
}

.button__open{
  transition: 300ms;
}

.footer__list{
  display: block;
  height: 30%;

}

.some__player__name{
  display: block;
  width: 40%;
  background-color: saddlebrown;
}
