.coliseumPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 50px;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
