/* @font-face {

  font-family: "Regular"; 

  src: src("./cleopatra-regular-108583.ttf") format("truetype") ; 
  font-style: normal; 
  font-weight: normal; 
  }  */

  @font-face {
    font-family: 'Grek'; 
    src: local('Cleo'),
      url('./DS_Greece.ttf') format("truetype"); 
  }
.map {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 40%;
    
    /* margin-top:20%; */
    /* height: 0vh; */

    object-fit: cover;
}

.map__login {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 60%;
    margin: auto;

}

.map__pic {
    display: block;
    position: relative;
    max-width: 100%;
    filter: drop-shadow(0px 0px 20px rgb(103, 98, 98));
    border-radius: 15px;
    /* transform: scale(1.2) */
    /* max-height: 100%; */
    /* height: ; */
    /* top: 50%; */
    /* align-items: center; */
    /* top: 50%; */
    /* bottom: 50%; */
}

/* .map__pic:hover , .map__cazarm :hover{
  transform: scale(1.2);
  transition: 300ms;
} */

.map__cazarm {
    /* content: url(./pictures/svgItem.svg); */
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));

    position: absolute;
    z-index: 2;
    width: 10%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 36%;
    top: 60%;
    /* position: 60%; */

}

.map__cazarm:hover {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);; */
    transition: 300ms;
    color: blueviolet;
    width: 15%;
    /* height: 30%; */
    /* stroke-width:2px; */
}

.map__cazarm::after {
    content: 'Казармы';
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Grek';
}

.map__observation {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));

    position: absolute;
    z-index: 2;
    width: 7%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 68%;
    top: 35%;
}

.map__observation::after {
    content: 'Смотровая башня';
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Grek';
}

.map__observation:hover {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);; */
    transition: 300ms;
    color: tomato;
    width: 10%;
    /* height: 30%; */
    /* stroke-width:2px; */
}

.map__primaryCastle {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));

    position: absolute;
    z-index: 2;
    width: 11%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 38%;
    top: 27%;
}

.map__primaryCastle::after {
  content: 'Главный замок';
  font-family: 'Grek';
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.map__primaryCastle:hover {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);; */
    transition: 300ms;
    color: tomato;
    width: 14%;
    /* height: 30%; */
    /* stroke-width:2px; */
}

.map__train {
    position: absolute;
    z-index: 2;
    width: 10%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 52%;
    top: 10%;
    filter: drop-shadow(0px 0px 2px red);
}

.map__train::after {
    content: 'Тренироовочный лагерь ';
    color: white;
    display: flex;
   
    text-align: center;
    justify-content: center;
    display: block;
    font-family: 'Grek';
}

.map__train:hover {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);; */
    transition: 300ms;
    color: tomato;
    width: 12%;
    left: 51%;
    top: 10%;

    /* height: 30%; */
    /* stroke-width:2px; */
}


.map__market {
  font-family: 'Grek';
    position: absolute;
    z-index: 2;
    width: 14%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 63%;
    top: 64%;
    filter: drop-shadow(0px 0px 10px rgb(245, 243, 243));
}

.map__market::after {
    content: 'Разрушенний рынок';
font-family: 'Grek';
    color: white;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
}

.map__market:hover {
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);; */
    transition: 300ms;
    color: tomato;
    width: 18%;

    /* height: 30%; */
    /* stroke-width:2px; */
}

.map__SvgCave {
    position: absolute;
    z-index: 2;
    width: 16%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 65%;
    top: 14%;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

.map__SvgCave::after {
    content: 'Подземелье ';
    color: white;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Grek';
}

.map__SvgCave:hover {
    transition: 300ms;
    color: tomato;
    width: 20%;
    left: 65%;
    top: 14%;
}

.map__coliseum {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));

    position: absolute;
    z-index: 2;
    width: 15%;
    /* height: 0%; */
    transition: 300ms;
    /* stroke: rgb(255, 17, 0); */
    display: block;
    left: 47%;
    top: 48%;
    /* filter: drop-shadow( 0px 0px 20px rgb(142, 63, 63) ); */

}

.map__coliseum::after {
    content: 'Колизей ';
    color: white;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Grek';
}

.map__coliseum:hover {

    transition: 300ms;
    color: tomato;
    width: 25%;
}

.map__myCastle {
}
